[2015-02-05 10:37] gnapse opened #1 "Page not loading the javascript and css files needed for it to work"
I have this gem installed in my app, and when I visit the documentation page this is what I get.

![error](https://cloud.githubusercontent.com/assets/15199/5970690/585e0352-a815-11e4-9009-e6e24d54c15d.png)

In the console is evidenced that the web page is not being able to load the css and js needed for it to work. Any ideas on why I'm getting this?

[2015-02-05 13:08] dblock commented on #1
Do other assets in your application work? Looks like the assets from grape-swagger-rails aren't getting included in the asset pipeline. If you put the project up will be glad to help.

Generally you have to have `*= require_tree .` in your application.css and `//= require_tree .` in your application.js and that's it.

[2015-02-05 13:45] dblock opened #2 "Re-enable travis-ci on this fork"
:green_heart: build on my fork: https://travis-ci.org/dblock/grape-swagger-rails/builds/49598923

[2015-02-05 17:12] gnapse commented on #1
Well, now that you mention it, my app was generated with [rails-api](https://github.com/rails-api/rails-api), and it is possible that it has all the asset pipeline disabled or not loaded at all, because none of it is normally needed for an api-only kind of app. However, it's curious that nobody has reported this problem before, because grape is for APIs, and it should be common for someone to try

[2015-02-05 17:14] dblock commented on #1
I would be interested in instructions on how to integrate this without asset pipeline, or maybe how to turn just the parts needed on top of a Rails API project, or something like that.

[2015-02-05 20:24] unloved commented on #2
seems it's working fine, just pushed test branch and it was builded  by travis
https://travis-ci.org/TinkerDev/grape-swagger-rails

[2015-02-05 20:30] dblock commented on #2
Great, tanks.

[2015-02-05 20:30] #2 closed

[2015-02-06 07:54] calfzhou opened #4 "Make googlefonts optional"
Thanks for this great tool!

Is it possible to add an option to disable google font? There are some places in the world hard to access google service :crying_cat_face:

[2015-02-06 08:23] calfzhou commented on #4
I created a custom index.html.erb to overwrite the default one.

[2015-02-06 08:23] #4 closed

[2015-02-06 22:42] dblock commented on #4
Yes, that works. Generally we would welcome some refactoring of that ERB into helpers and what not to make it easier to customize.

[2015-02-12 02:30] rjocoleman commented on #1
Came across this today too. I elected just to use sprockets/asset pipeline. You could look at rake-pipeline but it's not looking super maintained right now.

Here's how:

1. Make sure sprockets is a thing in your app, `rails-api` comes with ActionPack so it's just a simple require.

[code]
2. Minimum CSS and JS:
[code]
[code]

From there `grape-swagger-rails` works for me!

[2015-02-12 13:54] gnapse commented on #1
Yes, that solves it. Thanks @rjocoleman!

[2015-02-12 13:54] #1 closed

[2015-02-12 15:25] dblock commented on #1
@rjocoleman Can you please contribute this to the README and maybe put up a sample project?

[2015-03-06 04:25] adamlove127 opened #7 "Paths with grape-swagger-rails 0.9"
With previous applications running 0.7.2, I would initialise with
`GrapeSwaggerRails.options.url      = '/swagger_doc.json'`

However, with v 0.9, had to replace that with
`GrapeSwaggerRails.options.url      = '/swagger_doc'`
and remove the .json to get things to work

[2015-03-06 14:19] ristovskiv opened #8 "Grape 0.10.1 and 0.11.0"
Will this be available for the newest versions of Grape?

[2015-03-06 14:23] dblock commented on #7
That is correct, and documented in Grape's UPGRADING.

[2015-03-06 14:23] #7 closed

[2015-03-06 14:24] dblock commented on #8
The latest version works with Grape 0.10.1 and 0.11.0.

[2015-03-06 14:24] #8 closed

[2015-03-07 15:05] ristovskiv commented on #8
Sorry for bothering you it worked, just needed grape-swagger 0.9.0. One more question how to specify the version of the api. Let's say the api_url is http://localhost:3000/api/v1/users.json? It works without the version /api/users.json, but I can't figure out a way with the api version.

[2015-03-09 12:26] dblock commented on #8
Describe "it doesn't work"? You should put up a demo project with the issue related to version and open an issue here.

[2015-03-09 12:43] ristovskiv commented on #8
I've figure this out as well, just used the "api_version" key of the the hash that is passed as an attribute to the add_swagger_documentation method. Example

add_swagger_documentation base_path: "/api", api_version: "v1"

[2015-03-31 13:32] pablocrivella opened #9 "Does this gem integrate with https://github.com/kendrikat/grape-swagger-ui ?"

[2015-03-31 22:09] pablocrivella opened #10 "Rails can't find assets on Production env"
Do i need to do something to make this work on production or staging?

Now i get this error:

![screen shot 2015-03-31 at 17 54 29](https://cloud.githubusercontent.com/assets/1854923/6930202/150da758-d7cf-11e4-84a7-b5a5f561263c.png)

[2015-03-31 22:48] pablocrivella commented on #10
nevermind, i solved it.. sorry for spaming :sweat_smile:

[2015-03-31 22:48] #10 closed

[2015-04-01 12:16] dblock commented on #10
Please do tell us how you solved it. Maybe we need a README update?

[2015-04-01 13:10] pablocrivella commented on #10
We'll the error i was getting was because i was deploying to a staging env, but i didn't have a ```staging.rb``` on ```config/environments```, so i gues it was defaulting to ```development.rb```.
Other error i found is that you need to add ```rack-cors``` middleware and configure it to make swagger work with your api.

[2015-04-03 23:20] sunnyrjuneja opened #11 "grape-swagger compatibility"
Hi,

I wanted to discuss the "out of the box" compatibility of grape-swagger and grape-swagger-rails. It seems that when you install grape-swagger-rails (0.1.0) while using grape (0.11.0) and grape-swagger (0.10.1), you need to set options that aren't obvious from the README.

The first error I encountered was that when you setup grape-swagger-rails, there is an flash of errors that override each

[2015-04-04 13:51] dblock commented on #11
We discussed undoing the root cause of this in https://github.com/intridea/grape/issues/914, I think I would really like that, this has created such a mess.

Otherwise I think 3) is the way to go, ideally the default should be for a "typical" JSON API.

[2015-04-08 09:37] TangMonk commented on #11
same issue

the swagger-ui alert:

[code]

`.json` suffix should only append to lasted path node

[2015-04-11 07:05] TangMonk opened #12 "when rails an exception with http://localhost:3000/swagger, can not reload again, restart rails server will works"

[2015-04-16 03:38] sunnyrjuneja opened #13 "Adding API Key doesn't appear to do anything"
Hi,

My initializer looks something like this:

[code]

When I fill in my API key and try to explore the API, my API returns that I'm not authenticated. Chrome headers show my response looks like this:

[code]

The swaggerApi object doesn't appear to be including any authorization handlers either.

[code]
![image](https://cloud.githubusercontent.com/assets/1108341/7173611/36668c12-e3af-11e4-9671-4

[2015-04-16 03:40] whatasunnyday commented on #12
I think this has something to do with rails engines and reloading config/routes.rb. I have the same problem with my mounted Grape API without Swagger.

[2015-04-16 10:54] dblock commented on #13
Do you have your own template? Look at https://github.com/TinkerDev/grape-swagger-rails/blob/master/app/views/grape_swagger_rails/application/index.html.erb#L2.

[2015-04-16 10:55] dblock commented on #12
@TangMonk @whatasunnyday Can you help me understand the problem? Is it "Rails reloading doesn't reload `GrapeSwaggerRails` configuration?

[2015-04-20 01:38] TangMonk opened #14 "Don't know how to build task 'swagger_ui:dist:update'"
[code]

[2015-04-20 02:03] dblock commented on #14
This is something we run part of this gem, not part of your application. If you want grape-swagger-rails to pickup the latest, form the source, run the rake task, examine the diff, fix any bugs, make sure tests pass and PR it here.

[2015-04-20 02:03] #14 closed

[2015-05-07 15:28] pablocrivella opened #16 "Response Class Section Missing"
In the swagger demo i can see that section like this:

![screen shot 2015-05-07 at 11 23 57](https://cloud.githubusercontent.com/assets/1854923/7518886/a9cddba8-f4ab-11e4-8e33-139bdc7006d6.png)

But in my application it does not show:

![screen shot 2015-05-07 at 11 26 16](https://cloud.githubusercontent.com/assets/1854923/7518920/f60d4f62-f4ab-11e4-921d-9f103e055e99.png)

[2015-05-07 15:43] pablocrivella commented on #16
Nevermind, my bad! :sweat_smile:

[2015-05-07 15:43] #16 closed

[2015-05-18 09:20] dmitry commented on #11
Looks like fix was merged, but still grape still not released with fix. `gem 'grape', github: 'intridea/grape'` works fine!

[2015-05-25 15:19] brodock opened #17 "Use "request" data for default app_url"
Is it possible to use "request" data to generate a default app_url that is always relative to the host where it was accessed from?

While we don't use it in a multi tenancy application (which would be a valid use case for that), our current development environment have some host variations that cannot be easily (in a clear way) bypassed.

[2015-05-25 16:08] dblock commented on #17
This is a good feature request, it means allowing the `app_url` configuration setting to be a block that takes the request. Probably not very hard to build, would love a pull request.

[2015-05-29 21:53] osuthorpe commented on #13
I am having this same issue

[2015-05-30 04:31] whatasunnyday commented on #13
Sorry, didn't see your post. I do not have my own template.

[2015-06-19 08:58] dan-corneanu opened #18 "CSRF prevention tokens in cookies"
Hi,
my grape APIs are protected against CSRF through a X-CSRF-Token request header. The value that has to go into this header is sent by the server to clients through a cookie.

Is there a way to customise grape-swagger-rails to add this header to every request?
Ex.
[code]

[2015-06-19 14:38] dblock commented on #18
I think this will need a bit of work, see how things are added to the request here: https://github.com/TinkerDev/grape-swagger-rails/blob/master/app/views/grape_swagger_rails/application/index.html.erb#L49.

[2015-07-14 21:03] mini-thor opened #19 "Add ability to namespace request URLs"
Is there a way to namespace request routes generated by `Grape::API` endpoints?

I am using grape and grape-swagger-rails inside a rails engine and the URLs generated in the swagger UI don't include that namespace.

Ex.
My engine is called `BlogManager` an my routes file looks like this:

`mount GrapeSwaggerRails::Engine, at: "/documentation"`

The problem is that in the UI the generated URLs look

[2015-07-15 11:24] dblock commented on #19
The URLs should include the namespace. You should bring this up on the Grape mailing list or open an issue with a repro in grape-swagger.

[2015-07-15 11:24] #19 closed

[2015-08-06 07:40] calfzhou commented on #14
It would be better to clarify this in README - I just tried several times to update dist before find this issue :grin:

[2015-08-17 11:18] Ninigi commented on #13
Any news on this?

[2015-08-17 13:06] dblock commented on #13
@osuthorpe @Ninigi Do you have a project in which this is reproduced that we can see?

[2015-08-17 21:17] whatasunnyday commented on #13
@dblock I do not. I'm creating a project to reproduce this now.

[2015-08-18 07:40] Ninigi commented on #13
@dblock there is a project, but I do not own it, so I don't know if I can show you. However, after looking at your javascript I realised it was mainly my bad.

The handler for adding the api key to the requests is bound to a $.change listener, which is of course only triggered if I actually CHANGE the field after a reload (most browsers will fill it with the last value, which will not trigger the

[2015-08-18 11:42] dblock commented on #13
I'll wait to hear from @whatasunnyday.

[2015-08-18 18:53] whatasunnyday commented on #13
@dblock Please  let me know if there's anything else I can do to clarify the problem.

https://github.com/whatasunnyday/gsr-api-key

[2015-08-19 00:10] dblock opened #23 "Support media=print"
Swagger-ui has CSS for print media. It's currently ignored.

[2015-08-19 00:10] dblock opened #24 "Support swagger-ui translations"
Swagger-ui supports multiple languages via translations. This is currently ignored.

[2015-08-19 00:19] dblock commented on #13
This took me a while.

The header auth information is properly added by the UI where it should be.

![screen shot 2015-08-18 at 8 12 40 pm](https://cloud.githubusercontent.com/assets/542335/9346088/314730a8-45e6-11e5-8fc9-8332933ad6dd.png)

However, Swagger-UI doesn't use it. As soon as the endpoint has `authorizations: oauth2`, it overrides any authorizations set.

![screen shot 2015-08-18 at 8 1

[2015-08-19 00:22] dblock commented on #13
I think this should be reproducible with a test here now (get an endpoint in spec/dummy to return `authorizations: oauth2`. Then add a spec in spec/features/swagger_spec.rb. That alone would be useful.

Then, I have updated https://github.com/TinkerDev/grape-swagger-rails to the latest https://github.com/swagger-api/swagger-ui. To debug this I substitute swagger-ui.min.js by swagger-ui.js from htt

[2015-08-19 00:44] whatasunnyday commented on #13
@dblock thank you very much for putting time into this. i'm not entirely sure where the fix would live. do you think is this an issue with grape-swagger-rails, grape-swagger or wine_bouncer?

[2015-08-19 00:46] whatasunnyday commented on #13
also, i'm happy to take this on now that you've helped me find the bug. thanks again.

[2015-08-19 13:42] dblock commented on #13
I think this is a bug with swagger-ui, but it will be much easier to reproduce here, that's what you should do IMO first.

[2015-08-19 23:43] whatasunnyday commented on #13
@dblock Let me know if there's anything I can do to improve the PR.

[2015-08-20 00:26] whatasunnyday opened #26 "Detach Fork"
This is a very minor issue.

Would ruby-grape considering detaching the fork from BrandyMint? It's a very minor ux issue because its constantly comparing the master of the two repos. I'm very grateful for BrandyMint's contributions and would support adding the original repo to the README.

https://help.github.com/articles/why-are-my-contributions-not-showing-up-on-my-profile/
https://github.com/co

[2015-08-20 00:28] dblock commented on #26
I've emailed the owners of that repo and asked them to destroy it. If I don't hear from them in a few days I'll do this.

[2015-08-20 00:32] dblock commented on #26
cc: @anaumov, @bespalawn, @dapi ...

[2015-08-21 13:09] dblock commented on #26
The parent fork was destroyed but Github found a new parent. I've contacted support to detach the fork.

[2015-08-27 03:36] TangMonk opened #27 "how to override default assets?"
I wanna to custom style for swagger,

I copy `application.css` from `grape-swagger-rails` and place into `myapp/app/assets/stylesheets/grape_swagger_rails`.

[code]

but it throw error:

couldn't find file 'reset'

[2015-08-27 05:59] TangMonk opened #28 "markdown generated style ugly for Table Of Content(TOC)"
the `<li>` and `table of content` without no Indentation

[2015-08-27 15:14] dblock commented on #27
I am not familiar with where Rails looks for these files, but I suspect that this `require` is relative, so it works when with other grape-swagger-rails assets. Maybe you need to tell Rails to add a CSS path from the gem? If you find out it would be great to document how to properly customize this.

Also, maybe you don't need to copy all this. Just add a stylesheet to your app and make sure it loa

[2015-08-27 15:15] dblock commented on #28
Could you add a screenshot? Is this a problem with grape-swagger-rails or a style in swagger-ui?

[2015-08-27 18:13] whatasunnyday commented on #13
Going to give it a go. How did you go about doing this? Did you have to fork the gem and replace it there or is there a simpler way?

[2015-08-27 18:13] whatasunnyday commented on #13
@dblock Going to give it a go. How did you go about doing this? Did you have to fork the gem and replace it there or is there a simpler way?

[2015-08-27 19:59] dblock commented on #13
I just copied the file into this project.

[2015-08-28 01:04] TangMonk commented on #28
Thanks for your reply.

That's not a bug, that's stylesheets problem

I have a markdown note with following:

[code]

I desired the output like this(Table Of Contents with Indentation):

![image](https://cloud.githubusercontent.com/assets/3498786/9536841/69972cae-4d63-11e5-9ea6-c61488fc7875.png)

But actually output (Table Of Contents with no Indentation):

![image](https://cloud.githubusercontent

[2015-08-28 10:57] dblock commented on #28
It's a stylesheet bug :)

[2015-09-02 15:06] antek-drzewiecki commented on #13
There are multiple bugs in the swagger-ui you need to fix to make it work ;)
Ill see if i can find them and come up with a gist ;)

[2015-09-02 16:25] tbjers commented on #13
Create a pull request instead if they're bugs that affect everybody. I've
got a vanilla grape-swagger-rails that work with API key. Make sure you've
set something like this in your initializer:

[code]

On Wed, Sep 2, 2015, 11:06 Antek Drzewiecki <notifications@github.com>
wrote:

[2015-09-17 11:29] dblock commented on #26
GitHub took care of it. Onward!

[2015-09-17 11:29] #26 closed

[2015-09-17 11:30] dblock commented on #28
This was fixed.

[2015-09-17 11:30] #28 closed

[2015-09-25 14:44] calfzhou commented on #27
I put a custom CSS file into app/assets/stylesheets/grape_swagger_rails, and also have a copy of grape-swagger-rails's index.html.erb in app/views/grape_swagger_rails/application. In my own index.html.erb, I add a css link tag to include the custom CSS file.

`/app/assets/stylesheets/grape_swagger_rails/custom.css.scss`
[code]

`/app/views/grape_swagger_rails/index.html.erb`
[code]

`/config/initi

[2015-09-26 13:34] abarre commented on #27
@calfzhou, is your solution working ?
I can't make it work for me.

[2015-09-28 03:26] calfzhou commented on #27
@abarre, yes, it works well for me. By the way, I'm using master branch, latest commit.

[2015-10-07 11:23] dapicester commented on #1
I came across this today on a Rails application.
In my case the `grape_swagger_rails/application.css` and `grape_swagger_rails/application.js` were not there when deploying to production.
So I solved with `rake assets:precompile` on production environment.

[2015-10-08 15:54] suan opened #34 "Support multiple "documentation pages""
Right now grape-swagger-rails expects to be mounted only once, at a single route. It also expects a single global definition of `options.url`, `options.app_url`, etc.

It would be really useful if we could mount multiple "swagger roots", just like we can mount multiple APIs at different routes using Grape itself. I think it'll also go a long way towards supporting issues like https://github.com/ru

[2015-10-08 15:56] dblock commented on #34
I would welcome a PR for this. Ideally we should do away with these global options if possible.

[2015-10-12 09:59] ivan-garanin opened #35 "Problem with file uploading at 0.1.1 version"
I have got issue with uploading files at 0.1.1 version of grape-swagger-rails
This is screenshot of swagger with grape-swagger-rails version 0.1.1
![2015-10-12 13 49 31](https://cloud.githubusercontent.com/assets/5081342/10425495/c4db6cc4-70e0-11e5-8bac-fbe1f6d3d089.png)
This errors comes after sending request:
![2015-10-12 13 50 19](https://cloud.githubusercontent.com/assets/5081342/10425529/fc1f

[2015-10-12 13:21] dblock commented on #35
This probably has something to do with content-type, but I would first try to get a `curl` version of this error so we can figure out whether this is a UI bug in Swagger or a server bug in your grape API (and possibly in grape itself).

[2015-10-16 01:35] calfzhou commented on #35
the same problem. And all custom param types became `undefined`.

[2015-10-16 01:57] calfzhou commented on #35
v0.1.0 sends this request payload:
[code]

but v0.1.1 sends
[code]

[2015-10-16 03:35] calfzhou commented on #35
Solved by setting param type to `form`,
[code]

![image](https://cloud.githubusercontent.com/assets/3761553/10533311/f6025a3a-73f9-11e5-8995-bfa90d115253.png)

[2015-10-16 11:11] dblock commented on #35
Do we need to document this?

[2015-10-16 11:12] unloved commented on #35
yes

[2015-10-16 13:59] wonderer007 commented on #12
I also wanted to know what exactly this error is Please explain ......

[2015-10-16 20:55] whatasunnyday commented on #12
I've actually fixed the problem for myself. I think it only occurs if you have the wrong auto loading directory. Suppose you've file path looks something like this:: `/app/models/api_engine/api.rb`

My original `config/application.rb` looked like this:
[code]

This fixed it:
[code]

[2015-10-18 13:16] dblock commented on #12
Thanks @whatasunnyday this would make sense.

@TangMonk @wonderer007 care to try this in your projects?

[2015-10-27 13:45] wonderer007 commented on #12
@whatasunnyday its not working for me

config.paths.add File.join('app', 'api_engine'), glob: File.join('**', '*.rb')
config.autoload_paths += Dir[Rails.root.join('app', 'api_engine', '*')]

still same error

[2015-10-27 18:34] whatasunnyday commented on #12
@wonderer007 What is the name of the directory that your api lives in? It only makes sense to use api_engine if you have a folder called api_engine in apps.

[2015-11-21 11:23] polarlights commented on #17
Add the code below to `config/initializers/swagger.rb`:

[code]

[2015-11-21 12:14] yashwinkumar opened #36 "Documentation not loading. swagger_doc.json {"error":"Not Found"}"
Below is the configuration I used to build API's using `Grape`.

But I am not able to build documentation using `Swagger`

Gems:

    gem 'grape'
    grape-0.13.0
    gem 'grape-swagger-rails'
    grape-swagger-rails-0.1.0
    gem 'rack-cors', :require => 'rack/cors'
    rack-cors-0.4.0
config/application.rb

    require 'rack/cors'
    config.paths.add File.join('app', 'api'), glob: File.join('**

[2015-11-22 14:28] dblock commented on #17
@polarlights This works? Can we document it in README? (PR please)

[2015-11-22 14:30] dblock commented on #36
That `api_version` I think is making a `/v1/` path somewhere. IF you have a demo app with this up I can help you figure this out.

[2015-11-23 08:57] polarlights commented on #17
well. It should be a proc. I have push a new PR now. Please check.

[2015-11-23 13:40] dblock commented on #17
Documented in https://github.com/ruby-grape/grape-swagger-rails/commit/b51bf27e483a6483a9b0ba44c53279504308e235.

[2015-11-23 13:40] #17 closed

[2015-11-30 09:57] Mik-die commented on #13
I have this issue too on v0.1.0

[2015-12-02 01:30] olegsokolov513 opened #38 "current_user is undefined in before filter"
Hi, thanks for your nice work.
I am going to implement Authentication and Authorization for my Swagger UI.
After checking the documentation, I decided to use current_user inside GrapeSwaggerRails.options.before_filter.
Unfortunately it says current_user is undefined.
I am currently using clearance gem for authentication.

Regards
Oleg

[2015-12-02 16:49] dblock commented on #38
I am not sure how it's done with clearance, find out where and how it defines `current_user` and it's possible you'll have to mixin something on re-define a method. With warden for example you have to do `ENV['warden'].current_user` or something like that.

[2015-12-02 17:11] olegsokolov513 commented on #38
Thanks for your reply, @dblock
Here is the solution.
For clearance, request.env[:clearance].current_user works.

[2015-12-02 17:45] #38 closed

[2016-01-14 23:43] matfiz commented on #34
@suan I had a simmilar issue. In the project, I am using `Accept-Version` versioning header. I have added the following code to the Rails initializer:

    GrapeSwaggerRails.options.before_filter do |request|
      if (version = request.query_parameters['version']).present?
        GrapeSwaggerRails.options.headers['Accept-Version'] = version
      end
    end

Then I needed to modify a bit *grape

[2016-02-23 10:03] aliuk2012 opened #43 "Update rubygems version?"
It looks like this project is still being actively developed. Any chance of updating rubygems?

[2016-02-23 16:15] dblock commented on #43
Wow it has been a year! Release 0.2.0, https://twitter.com/grapeframework/status/702164754425585664.

[2016-02-23 16:15] #43 closed

[2016-02-23 20:57] aliuk2012 opened #44 "Is it possible to "skin" the swagger docs"
Hi,

Is there some way of setting up up Swagger Docs rails so it can use other methods in my application?
Also I would like to reuse my default layout in app/views/layouts/application.html.haml, is this possible?

I do have swagger docs working and displaying but I would like to "skin" it to look like the rest of my application.

Many thanks

P.S relatively noobie rails developer

[2016-02-23 20:58] aliuk2012 commented on #43
Thank you for the quick response :+1:

[2016-02-24 11:57] dblock commented on #44
If you want your layout and UI parts, for now you just have to port the interesting parts into your application, see https://github.com/artsy/doppler/blob/master/app/views/playground/index.html.haml for example.

[2016-02-24 11:57] #44 closed

[2016-02-24 11:58] dblock commented on #44
Closed as duplicate of https://github.com/ruby-grape/grape-swagger-rails/issues/27.

[2016-02-25 20:53] zeroedin opened #45 "Help with configuration"
Running into trouble with configuration for my rails app.  I'm using the following versions
[code]

I have the following initializer:

[code]

And I have the following API class:

[code]

The following routes:
[code]

When I visit `/api-docs` everything appears to start to load correctly but the AJAX calls being made by `swagger-ui.js` are hitting urls formatted like this: `http://somedomain/api/v

[2016-02-25 21:26] zeroedin commented on #45
Ok so I took a closer look at the `/spec/dummy` in this repository and made some changes:

[code]
[code]

I also added `namespace` and `desc` to my API methods which I was missing.

I now get the basically functionality working.  However I'm not sure my handling of the versioning now using `prefix` is correct in `app/api/api.rb`

Again any extra info would be helpful.

[2016-02-26 21:19] dblock commented on #45
That `/api/0.1/person` is that something Swagger constructs? Or is it actually where your API is mounted?

I think you want `prefix :api` and `version :v1, using: :path` (there's something weird in your quotes there :)

[2016-03-04 01:46] davidbrewer opened #47 "Pass through all Swagger-UI options to more fully support customization"
Currently grape-swagger-rails has hard-coded support for passing through a few of the Swagger-UI options from the grape-swagger-rails initializer to the SwaggerUi initializer, in the index.html.erb file. Good examples of this include the docExpansion option, and the validatorUrl option. Here's a link to a recent pull request that added the validatorUrl option:  #46.

@dblock rightfully pointed out

[2016-04-18 04:06] SuperMasterBlasterLaser opened #49 "This API is using a deprecated version of Swagger"
After updating grape-swagger to 20.1 version swagger won't load documentation. When I have opened Javascript console, it shows error messages:

     This API is using a deprecated version of Swagger!  Please see http://github.com/wordnik/swagger-core/wiki for more info
    Uncaught TypeError: Cannot read property 'length' of undefined swagger-ui.min.self-bfe16e3….js?body=1:217

[2016-04-18 11:37] dblock commented on #49
I am not sure what it takes to fix this, please contribute.

[2016-04-18 11:37] dblock commented on #45
@zeroedin were you able to resolve this?

[2016-04-27 15:52] nevinera opened #50 "Swagger options not serialized correctly in view"
The view file includes options for swagger via

`<html data-swagger-options="<%= GrapeSwaggerRails.options.marshal_dump.to_json %>">`

but that is not html_safe, so the contents of the json string get escaped - we end up with `&quot;` inside our json object.

I'm not sure if this is specific to rails 4, but I made it work properly locally by changing the above to

`<html data-swagger-options='<%==

[2016-04-27 15:53] dblock commented on #50
Makes sense. If you write a spec I'd love a PR for this.

[2016-04-27 16:38] nevinera commented on #50
PR is at #51

[2016-04-27 19:19] nevinera commented on #50
The escaped data gets handled by jquery anyway (it de-escapes html entities when processing the data attributes).

[2016-04-27 19:19] #50 closed

[2016-05-12 13:50] mgbeyer opened #54 "problems with request URL"
Dear develeoper(s),

I have a server with multiple rails apps, each one deployed with a subURI scheme (like "www.lorem.ipsum/app_name/").
I configured your gem so the UI comes up with the following URL"http://www.lorem.ipsum/dbkzakat/takearest/apidoc" -> mount GrapeSwaggerRails::Engine, at: "/takearest/apidoc"

At the bottom of the screen a valid URL ist shown: [ base url: http://www.lorem.ipsum/d

[2016-05-12 14:30] dblock commented on #54
I think you'll have better luck with [the Grape mailing list](https://groups.google.com/forum/#!forum/ruby-grape) for questions. I'll close this.

[2016-05-12 19:03] mgbeyer commented on #54
Why did you close this? My question ist not related to grape itself. Grape works fine. It's a problem with your gem and they way the swagger UI builds the request UI as stated in my ticket above. It's a bug I guess, so could you please help and at least try to have a look at it?

[2016-05-12 20:06] dblock commented on #54
Sorry I didn't realize this was a potential bug, so I'll reopen. I'll take a look when/if I have time.

[2016-05-12 21:35] mgbeyer commented on #54
Thanks. Maybe my description was a little lengthy to see the point at first glance but I wanted to provide a bit information :)

[2016-05-13 19:48] dblock commented on #54
This library cannot guess where the API is located, but you can tell it, either globally, via `GrapeSwaggerRails.options.app_url = '/dbkzakat'` or dynamically with

[code]

Lets us know if that works?

[2016-05-17 07:54] mgbeyer commented on #54
Hi,

thanks for the fast reply!

I tried both ways, but neither worked :-(
I put the configuration in "config/initializers/swagger.rb" and it should work there, because I checked your suggestion above with a nonsense path (GrapeSwaggerRails.options.app_url = '/debug'), see screenshot.

So at least partly my config is acknowledged. But the part the "try it out!" button relies on (some JQuery?) seem

[2016-05-17 16:32] dblock commented on #54
I think you should bring up a very simple app that demonstrates this. Maybe modify https://github.com/ruby-grape/grape-on-rails?

[2016-05-18 11:00] mgbeyer commented on #54
Hi,

I don't have really time for that. But I think if you just could have a look at the JavaScript/JQuery stuff inside your gem, it might become clear for the developer. I would do this myself, but all that stuff is minified and thus can't be explored :-(

As far as I can guess, it all seems to boil down to parts of the JQuery stuff not having the proper base path set. Look at the big red X's on

[2016-05-18 11:06] mgbeyer commented on #54
PS: I suspect the following JS, which as I said unfortunately is minified: app/assets/javascripts/grape_swagger_rails/swagger-ui.min.js

[2016-05-18 14:16] dblock commented on #54
If you or whomever has time to debug this, the sample project here runs unminified code in development, see https://github.com/ruby-grape/grape-swagger-rails/blob/master/CONTRIBUTING.md#write-code for how to run it.

[2016-05-21 18:25] aschuster3 commented on #49
@SuperMasterBlasterLaser check now to see if that error persists

[2016-05-21 18:49] aschuster3 commented on #9
Better late than never:

It appears `grape-swagger-ui` is a different attempt at integrating `grape` and `grape-swagger` into a Rail project.  It also appears as though `grape-swagger-ui` hasn't been updated in a year and is currently only known to support Rails 3 based on it's README.

Nothing in `grape-swagger-rails` is written with the intent of being integrated with `grape-swagger-ui` to my kn

[2016-05-21 18:49] #9 closed

[2016-05-21 18:52] aschuster3 commented on #11
Because this issue hasn't been updated in over a year, I'm assuming it was resolved or is now not relevant.  If this issue still exists in some form, please ping me here and I'll reopen it or open a new issue.

[2016-05-21 18:52] #11 closed

[2016-05-21 18:57] aschuster3 commented on #12
Seeing as the original poster hasn't responded in quite a while, I'm going to assume a solution was found.  If one was not, ping me here and I'll open this issue again or feel free to just open a new issue.

[2016-05-21 18:57] #12 closed

[2016-05-21 19:09] aschuster3 commented on #13
This appears to have been resolved, so I'm going to close this issue.  Feel free to let me know if it wasn't and I'll reopen or you can make a new issue.

[2016-05-21 19:24] aschuster3 commented on #45
For anybody else visiting this issue, I think the root of this problems lies with the default settings for `add_swagger_documentation` which can be gleaned from [here on the `grape-swagger` repository](https://github.com/ruby-grape/grape-swagger/blob/eb1f283c6e8e8e20d71a3083b8d96c19e70e42c7/lib/grape-swagger/doc_methods.rb#L90).  Be sure to cross reference those defaults with the version of `grape

[2016-05-21 19:25] #45 closed

[2016-05-21 19:34] aschuster3 commented on #27
The idea of being able to customize the layout that the UI renders inside of seems like it would be a nice addition and within the scope of the gem.  Maybe using some `content_for` statements within the `index.html.erb` in this project would allow dropping in a layout without without breaking any compatibility.

I'll leave this issue open as a reminder.  If anybody would like to attempt a solution

[2016-05-21 19:41] aschuster3 commented on #35
This appears to be an issue with the `grape-swagger` dependency on version 0.1.1 of this gem.  I didn't find any evidence of it being documented here or on `grape-swagger`, but there have also been a number of version bumps since October 2015.

I'm going to go ahead and close this issue.  If it is still a problem, I'll reopen this issue or feel free to create a new one.

[2016-05-21 19:41] #35 closed

[2016-05-21 19:46] aschuster3 commented on #36
This may be an issue with the defaults set by `grape-swagger`.  Look [here](https://github.com/ruby-grape/grape-swagger/blob/master/lib/grape-swagger/doc_methods.rb#L90) to see if one of those settings causes anything unexpected.

I'm going to go ahead and close this issue.  If it's still a problem, feel free to ping me here to reopen the issue or just open a new one.

[2016-05-21 19:46] #36 closed

[2016-05-21 19:54] aschuster3 commented on #54
@mgbeyer  If possible, could you post your `swagger.rb` initializer?  You can change the root url to lorem.ipsum, but leave the other URI components.  Also, can we see what you pass for the `add_swagger_documentation` method?  Both of these can help us diagnose your problem better.

[2016-05-22 12:10] dmitry commented on #43
No release 0.2.1 in https://github.com/ruby-grape/grape-swagger-rails/releases

[2016-05-22 15:47] aschuster3 commented on #43
@dmitry Thanks for the heads up, should be up now

[2016-05-23 07:07] SuperMasterBlasterLaser commented on #49
@aschuster3  The problem is solved. I'm closing this issue.

[2016-05-23 07:07] #49 closed

[2016-05-23 07:46] mgbeyer commented on #54
@aschuster3 sure, here we go:

`config/initializers/swagger.rb` :

[code]

`add_swagger_documentation` :

[code]

[2016-05-23 08:15] mgbeyer commented on #54
@dblock

You mean the sample app in the "spec/dummy" folder right?
I can't get this to start properly, maybe because I develop under a Windows environment (my bundle install throws lots of errors).
But the JS file in question is not there anyway, or did I miss something? It's just not there, neither under "assets/javascripts" nor "vendor/assets/javascripts" :-/

Bottom line is: I can't run this he

[2016-05-23 11:00] dblock commented on #54
Yes @mgbeyer I mean that project. Can't help much on Windows :(

The source of the minified version is in https://github.com/swagger-api/swagger-ui.

[2016-05-23 12:54] mgbeyer commented on #54
Could you please tell me, which exact version of the project above was used in grape-swagger-rails 0.1.0? Then I could fetch the appropriate JS file from swagger-ui project, used in the old version of "grape-swagger-rails" I run here. You know, I've tried to update the whole shebang, but I can't without running into other issues (JavaScript error: This API is using a deprecated version of Swagger!

[2016-05-23 14:38] dblock commented on #54
First, 0.1.0 is a year old, so I am not sure why you're trying to use that. I would focus on getting master to run on your dev environment (get a VirtualBox with linux?).

You'll have to look at commits against the 0.1.0 tag, https://github.com/ruby-grape/grape-swagger-rails/tree/v0.1.0, to find out which version of the JS was used there. Looks like it was [September 2014](https://github.com/ruby-

[2016-05-24 07:19] mgbeyer commented on #54
I know, I know :)
But I've already tried to update a couple days ago, and as I said, I run into different probleme in the form of this JavaScript error:

[code]

I'm completely stuck here :-/

[2016-05-24 12:43] dblock commented on #54
This is https://github.com/ruby-grape/grape-swagger-rails/issues/49.

[2016-05-24 16:07] SimonDKnight opened #56 "Customizing look of swagger?"
Hi, I need to brand swagger so that it fits in with the organisation I am working for. How do I go about doing this without forking the gem?

Thanks

[2016-05-24 18:57] mgbeyer commented on #54
Thanks, didn't know this one. So the issue is solved by #49 I guess and I'll give the update another try. I'm closing this.

[2016-05-24 18:57] #54 closed

[2016-05-24 19:11] aschuster3 commented on #56
Hey @SimonDKnight, this is already marked as an issue in #27, so I'm going to close this one as a duplicate, but so that you're aware of progress on that one, I have a local branch that I'll probably push up sometime in the near future as a test branch that boxes the `<head>` and `<body>` elements in respective `content_for` statements, allowing for essentially white-labeling if you're using layou

[2016-05-24 19:11] #56 closed

[2016-05-24 23:47] SimonDKnight commented on #27
@calfzhou Thanks so much for this solution, however this is a small mistake which might trip some people up. For the location of the index.html.erb the file path should be /app/views/grape_swagger_rails/application/index.html.erb

[2016-05-24 23:48] SimonDKnight commented on #56
Thank you for your fast reply.

[2016-05-27 15:17] aschuster3 commented on #27
Hey everyone, I just pushed a new test branch that splits out layout components so that you simply need to have a different layout file that contains a `yield :head` and `yield` statement, meaning that you're left with an essentially clean slate to impose your own style.

To change the default layout, simply overwrite the `GrapeSwaggerRails.options.swagger_ui_layout` with the location of your cust

[2016-06-15 08:09] abhilashak opened #58 "Uncaught TypeError: Cannot read property 'definitions' of null"
Hi authors,

 I followed the 'grape-swagger-rails' documentation and I am getting the /swagger_doc.json initial page  loads fine from swagger ui as follows:

<img width="1396" alt="swagger-first-page-ok" src="https://cloud.githubusercontent.com/assets/381856/16072957/44843360-3301-11e6-94bf-7d409225bb45.png">

But apart from this page all other requests, I am getting one of 2 errors

**1st Error:*

[2016-06-15 13:10] dblock commented on #58
It looks like your API requires authentication. What happens if you just go to /content/api/v1/activities in a browser?

[2016-06-15 13:18] abhilashak commented on #58
@dblock No, I commented all authentication and autorization part and started to test. In browser the path /content/api/v1/activities gives all activities json.I am testing it in postman. And it also gives json response back when simply accessing '/content/api/v1/activities'.

[2016-06-15 13:27] dblock commented on #58
Well, the API responds with a 401, examine the network tab and see why. Could be CORS or something like that.

[2016-06-15 13:33] abhilashak commented on #58
:) I think you are misunderstood because of I mentioned 1st Error: 401 Unauthorised, Actually I meant I was testing this '401 Unauthorised' functionality in the 2nd case (here I am not commented the authentication). It works well. 401 is my expected answer. But in this case also Swagger shows Unable to load Swagger ui. Atleast I am expecting some ui from swagger in 401 page also.

And the real bug

[2016-06-15 14:31] aschuster3 commented on #58
That bar at the top is NOT to test your API endpoints.  It is to put the JSON endpoint of your valid OpenAPI v2.  When you put a URL in that bar, Swagger UI tries to build the API calls and if the endpoint doesn't return JSON, it errors out.

As you add your API calls to grape (which I assume you're using) and document them using grape-swagger, they will automatically begin populating on your docu

[2016-06-15 15:04] abhilashak commented on #58
@aschuster3  Great. I totally misunderstood this may be. Now I got the idea. Thank you. Yes I am using Grape. Here I used [grape-swagger-rails](https://github.com/ruby-grape/grape-swagger-rails/).

<img width="1087" alt="screen shot 2016-06-15 at 8 30 17 pm" src="https://cloud.githubusercontent.com/assets/381856/16084991/418ea08c-3338-11e6-8e84-73794d3212e1.png">

<img width="798" alt="screen shot

[2016-06-15 16:47] dblock commented on #58
Ah thanks @aschuster3 I see what's happening here ;)

@abhilashak the documentation endpoint should be /api/v1/swagger_doc I believe.

[2016-06-15 17:08] abhilashak commented on #58
@dblock No, I given the path 'api/v1/swagger_doc' but it not works. It shows the same error: 'Unable to Load SwaggerUI'.  I think 'content/swagger_doc.json' is the JSON Endpoint as @aschuster3 specified, as it works well without any issue (see screenshot no.1).  But it not showing my Grape API calls. Just showing

    BASE URL: /content
    API VERSION: 0.0.1

[2016-06-15 17:37] aschuster3 commented on #58
Yep, grape-swagger auto-generates the Valid OpenAPI v2 JSON endpoint.  You should be able to check that the behavior is correct by visiting `[your_url]/swagger_doc.json` based on the defaults that grape-swagger has.  [Here's what the pet store example's JSON looks like for reference](http://petstore.swagger.io/v2/swagger.json).

You can take a look over at [grape-swagger's instructions for configu

[2016-06-15 17:56] abhilashak commented on #58
@aschuster3 Wahhh Super great ...Thank you so much 💯  That was the issue!!

When I was adding the method 'add_swagger_documentation' I just thought It will fetch all the API calls mentioned in that API class. But we are mounting the calls later. So the method cannot find the APIs! May be I confused the mount stuff with something like load/include.

I just added the method above, just for nice code

[2016-06-15 18:04] aschuster3 commented on #58
Great!  I'm gonna go ahead and close this issue.

Glad I could help!

[2016-06-15 18:04] #58 closed

[2016-06-15 19:20] dblock commented on #58
Excellent detective work @aschuster3!

[2016-06-29 18:53] theonegri opened #59 "Pre-fill some inputs"
I have some inputs that I'd like to pre-fill when a user is logged in like the user's CLIENT_TOEKN.
![screenshot 2016-06-29 11 46 37](https://cloud.githubusercontent.com/assets/1821498/16464633/f189ba8c-3def-11e6-9e91-3d89cda9f7cc.png)

But I can't figure out how to do it.

[2016-06-29 20:43] aschuster3 commented on #59
Could you please post what you can of your `swagger.rb` initializer?

Also, did you take a look at [this part of the documentation covering tokens like this](https://github.com/ruby-grape/grape-swagger-rails#basic-authentication)?  Was there a part of that which did not cover your use case?  You could auto-fill the token at the top of the page so that users don't have to input it at the individual

[2016-06-29 21:38] theonegri commented on #59
@aschuster3
swagger.rb
[code]

I don't actually want to auto-fill the token at the top of the page. I think it's counter intuitive for users and i'm confident they won't notice it.

[2016-06-30 17:52] aschuster3 commented on #59
That's all good, unfortunately this gem doesn't provide easy means to drop default values as it should ideally be handled in the `grape-swagger` gem.

Off the top of my head, the two options I can come up with are to use default values as defined by the Open API spec [and following the rules from `grape-swagger`](https://github.com/ruby-grape/grape-swagger#setting-a-swagger-defaultvalue), or you c

[2016-07-02 14:10] swistaczek opened #60 "Exclude grape and grape-swagger from deps"
Hello,
Please exclude **grape** and **grape-swagger** from gem dependencies. Main reason for this usage of **grape-swagger-rails** only as swagger-ui without code that depends on grape or/and grape-swagger.

[2016-07-02 20:08] dblock commented on #60
What stops working when we remove those dependencies? Can you please PR it?

[2016-07-06 18:19] theonegri commented on #59
@aschuster3 The first option makes sense. Thanks!

[2016-07-06 18:19] #59 closed

[2016-07-12 17:18] aschuster3 commented on #60
@swistaczek This is now live in master and will be released sometime soon.  Thank you for your recommendation!

[2016-07-12 17:18] #60 closed

[2016-07-15 17:45] m-o-e opened #62 "Deprecation warning in Rails5"
[code]

[2016-07-15 19:57] aschuster3 commented on #62
Great, thanks for letting us know

[2016-07-16 13:33] dblock commented on #62
Would love a PR @m-o-e :)

[2016-07-21 18:11] nhinze opened #64 "How to prefill API key for swagger UI"
I'm using:
 - Rails 4.2.6
 - Grape, Win Bouncer, Doorkeeper

How can I pre-fill API key for logged in user for swagger UI? The only way I figured out how to get the current token is by creating on separate rails app as an OauthClient. However, for convenience and in production I would like to prefill the api key in swagger UI. Or how can a logged in user get the api key easily?

**wine_bouncer.rb:

[2016-07-21 18:28] aschuster3 commented on #64
Hey @nhinze,

[Does this part of the README not solve your problem?](https://github.com/ruby-grape/grape-swagger-rails#pre-fill-authentication)

[2016-07-21 19:40] aschuster3 commented on #64
Totally understandable!

As a basic understanding, you can treat the inside of this `before_filter` similarly to how you would treat a `before_filter` inside of a Rails controller, meaning it has access to a lot of useful things, the most important being the current session (if one exists).  If you are using Doorkeeper, you have access to a function called `current_user`, which will return a User

[2016-07-21 21:05] nhinze commented on #64
Thanks, it got me in the right direction:

[code]

In user.rb model add:

`has_one :token, -> { order 'created_at DESC' }, class_name: Doorkeeper::AccessToken, foreign_key: :resource_owner_id`

Credit: http://stackoverflow.com/questions/24206483/how-to-return-doorkeeper-access-token-as-json

[2016-07-22 01:25] aschuster3 commented on #64
Great, glad I could help.  Would you consider this issue resolved?  If so, feel free to mark it as such.

[2016-07-22 01:28] #64 closed

[2016-07-22 19:38] dblock commented on #64
I'd love this in the README, under something like "integration with doorkeeper", @nhinze would you like to contribute?

[2016-07-22 19:58] nhinze commented on #64
I created a pull request to update the README.

[2016-07-22 20:41] dblock commented on #64
Thanks @nhinze

[2016-08-05 08:08] pezholio commented on #27
This is awesome - thanks! :+1: Only issue I have is being able to access url helpers and things I've set up in my ApplicationController (like `current_user`) etc, but I can probably work round that for now. Any tips would be appreciated if there's anything obvious I can do

[2016-08-05 12:51] lakshmivrv opened #66 "How do I change heading in swagger?"
How do I change heading in swagger

In swagger UI all the headings are having default messages like "user: Operations about user". Is there any way that I can customize the heading?

![swagger_heading](https://cloud.githubusercontent.com/assets/10494545/17437136/75bdc990-5b39-11e6-978e-f202bd00f610.png)

[2016-08-05 14:18] aschuster3 commented on #66
Hey @lakshmivrv,

If you want to have a custom header, it's actually related to the `grape-swagger` gem.  Using your examples, to add a custom header to your code in your API file would look something like this:

[code]

Let me know if you have any issues!

[2016-08-27 20:42] svobom57 commented on #34
+1 for this. Not having this kills the concept of versioned API (or at least the documentation part). :(

[2016-09-20 07:52] RathanakSreang opened #69 "URI::InvalidURIError in GrapeSwaggerRails::Application#index"
Currently, I  face a problem when I try to access `http://localhost:3000/swagger` and it raise error
URI::InvalidURIError in GrapeSwaggerRails::Application#index
bad URI(is not URI?): file-digest:///home/../app/assets/config/grape_swagger_rails
Does anyone know how to fix this issue?

[2016-09-20 12:43] aschuster3 commented on #69
Hey @RathanakSreang, please post your initializer, the relevant parts of your `routes.rb`, and the file where you call the function `add_swagger_documentation`

[2016-09-20 13:15] RathanakSreang commented on #69
@aschuster3

Here my code:
[code]
[code]
[code]

[2016-09-21 13:40] aschuster3 commented on #69
So, I spun up an instance to see if could reproduce on this information alone and I was unable.  Could you post the full Error message?

[2016-09-22 00:52] RathanakSreang commented on #69
Hi @aschuster3
I found solution which I need to update my ruby version to 2.2.3

[2016-09-22 03:25] aschuster3 commented on #69
Thanks for letting me know, sorry I couldn't be of more help, haha

I'm going to go ahead and close this, if you need any more help, feel free to open another Issue

[2016-09-22 03:25] #69 closed

[2016-09-22 03:26] #66 closed

[2016-09-22 03:27] aschuster3 commented on #62
This was fixed by [PR number 70](https://github.com/ruby-grape/grape-swagger-rails/pull/70)

[2016-09-22 03:27] #62 closed

[2016-09-22 12:18] dblock opened #72 "Next release please"
cc: @aschuster3 @serggl

[2016-09-22 12:58] serggl commented on #72
just released 0.3.0 to RubyGems

[2016-09-22 12:58] #72 closed

[2017-02-10 13:29] Crystark opened #74 "Hash > Hash > Array[Integer] isn't properly reflected in the Data Type Example Value"
Hi,

Considering the following resource, It seems to generate an improper swagger Data Type Example Value:

[code]

This shows the following:
[code]

However I would expect:

[code]

The model is also wrong:

[code]
it should be:

[code]

It seems like the array breaks it and is set on every parent member instead of the element iteself.

As a quick fix i'm using:

[code]

This prints out:
[code]
a

[2017-03-04 14:01] jwoodlee opened #75 "Click of "example" doesnt populate the input field"
API is Rails Api based
I have the css and javascript in the asset pipeline and they are being generated and are loading to the browser. However when viewing a api document page and clicking on the yellow box to populate the input field with the example it does nothing. Normally for swagger ui this does work. See petstore working example ... http://petstore.swagger.io/#!/pet/addPet and click the ye

[2017-03-06 16:18] aschuster3 commented on #75
I don't want to make too many assumptions because I can't see your code, but from the looks of it, the JavaScript is having trouble processing `%2Fusers_Users_create_content`.  `%2F` is an html-encoded forward-slash, so if you have a `/` somewhere in you code base near your "Users" logic, that might give you some place to start.

[2017-04-03 15:53] pabuisson opened #78 "Default content-type for generated request"
Hi guys,

I'm using `grape-swagger-rails (0.3.0)` to generate the documentation for a JSON API. I have an issue with all the actions expecting a payload in JSON format : indeed, the documentation generates a request body with the `application/x-www-form-urlencoded` format, and my API only handles `application/json` format.

![capture d ecran 2017-04-03 a 17 49 43](https://cloud.githubusercontent.c

[2017-04-04 07:08] konto-andrzeja opened #79 "Setting API key default value doesn't work immediately"
Hello, I'm using [this method](https://github.com/ruby-grape/grape-swagger-rails#integration-with-doorkeeper) to set API key default value:
[code]
It fills the input, but it doesn't send the key. To force it to do so I need too trigger js `change` event on the input, e.g. add space, press enter, remove space, press enter again.

In the source code it looks like the only thing `api_key_default_valu

[2017-04-04 12:57] aschuster3 commented on #79
Interesting, this may have come about as part of the last update to the `swagger` dependency.  We absolutely welcome a PR to fix the issue.

[2017-04-06 11:13] konto-andrzeja commented on #79
For now I used the following code to solve the issue:
[code]
I still intend to fix this, but I don't know when I'll be able to find time.

[2017-04-18 14:06] richardadrian opened #80 "Binary attachments render corrupt file"
I am using a grape api and can render the attachment in my code just fine.  However it does not appear to work in the swagger ui.  There is a download link which opens a file that can not be displayed properly.

We both use createObjectURL with a blob, however the response type in swagger ui is a string while I am using an arraybuffer.  When I change my code to use a string instead I get the same

[2017-05-03 15:26] SamMolokanov opened #81 "GrapeSwaggerRails::ApplicationController inherits ActionController::Base"
Hi there!

In modern Rails versions all controllers inherit from `ApplicationController`, but `GrapeSwaggerRails::ApplicationController` inherits `ActionController::Base`. By this reason methods that are defined at `ApplicationController` are not accessible from GrapeSwaggerRails context.

For example, if we have defined a method `current_user` in Rails ApplicationController

[code]

If we use met

[2017-05-09 20:24] dblock commented on #81
Seems reasonable. Maybe try to contribute this?

[2017-05-19 11:11] SamMolokanov commented on #81
I have thought again about inheriting and found that GrapeSwaggerRails is mounted as Rails Engine. At this point dependency injection from main application into an engine does not look like a good idea :)  So, may be using of constraint-based restriction in routes would be good enough:

[code]

[2017-05-19 11:11] #81 closed

[2017-05-30 20:32] #79 closed

[2017-06-07 11:17] ktimothy opened #83 "Taking swagger-ui from rails-assets"
Hey, this is a very nice project, but keeping swagger-ui dist files in the repository among with rake-task for downloading them makes me sad. I have an idea to add swagger-ui dist as a dependency in Gemfile. I can even make a PR with that. What do you think?

[2017-06-27 18:58] dblock commented on #83
Yes! Making swagger-ui a dist gem and making it a dependency is something we'd take here.

[2017-10-16 16:16] anelson425 commented on #78
I am also seeing the same issue as documented here. @pabuisson did you ever find a solution for this?

[2017-10-17 09:50] pabuisson commented on #78
@anelson425 well to be honest, we've kind of reduced our usage of grape-swagger so it's not that big a deal for us anymore. And re-reading this issue, I'm thinking that it must be coming from the underlying `swagger-ui` rather than `grape-swagger-rails` itself which mostly seems to be a wrapper around swagger. I found several issues in [swagger-ui github issues]https://github.com/swagger-api/swagg

[2017-10-17 14:27] anelson425 commented on #78
@pabuisson I found out yesterday that setting the param_type to 'body' in the documentation for the parameter seemed to fix my issue.

[code]

[2018-08-09 07:17] swistaczek commented on #66
Hey, is key ```:desc``` still valid for namespace? I am using ```grape-swagger (0.30.1)``` and I found out that adding ```:desc``` key does not change output for namespace description (for example: ```Operations about products```.

[2018-08-09 13:56] aschuster3 commented on #66
Unfortunately it might not be.  `grape-swagger-rails` has a list of compatible versions on the README  [found here](https://github.com/ruby-grape/grape-swagger-rails#compatibility) and we haven't yet tested with `0.30.1`.

[2018-12-21 15:51] bekicot opened #88 "Array of object is not built properly"
I have this definition in my API
[code]

The UI shows
![image](https://user-images.githubusercontent.com/1826884/50350497-f4eb1080-0571-11e9-97c7-b20278c6028f.png)

Which is fine. But when I try it, it doesn't build the array properly. In the curl, it built something like
[code]

To pass the grape parameter validation. It must be
[code]

Both curl and UI xhr failed to pass the validation.

[2019-01-29 14:36] olleolleolle opened #92 "Add a Code Climate configuration file"
There are ways of excluding some files from Analysis.

https://docs.codeclimate.com/docs/excluding-files-and-folders

Excluding some files would focus the analysis, and make the final score more informative.

[2019-02-14 18:42] dblock opened #93 "Release v. next"
Via #86, cc: @serggl

[2019-02-16 06:25] serggl commented on #93
released 👌

[2019-02-16 06:25] #93 closed

[2019-02-17 12:23] dblock commented on #93
Thanks @serggl !

[2019-05-15 17:32] hubertjakubiak commented on #27
@calfzhou Is your whole solution placed in your app or inside `grape-swagger-rails` gem? Generally I need to override some css, but I do not want to fork the gem.

[2019-05-16 09:39] hubertjakubiak commented on #27
@TangMonk

 It should be:
[code]
not
[code]

[2019-08-06 13:32] mleszcz commented on #83
Yeah. Update task doesn't seem to work anymore
[code]

Would be great to be able to update swagger_ui....

[2019-08-07 16:28] dblock commented on #83
Feel free to debug and PR! Thank you.

[2019-09-26 16:58] h4ckbarth commented on #78
@anelson425, thank you so much, i was making a doc for my API and wasn't able to find a workaround for this. This fixed my issue!

[2019-11-14 12:51] #80 closed

[2019-11-28 14:04] Faisal-nfl opened #96 "assets issue in rails 6"
with rails 6, lot of things changed but not sure what I have to do,
 it gives error

I did this but same issue, not sure what else I have to do

[2019-11-29 14:37] dblock commented on #96
This shouldn't be a problem. Somehow you're including the CSS/JS uncompressed from a subfolder instead of whatever the default inclusion happens with Railtie.

- make a vanilla Rails 6 project with this gem, it should work clean
- put up your project on github and we can try to help you

[2019-11-30 14:47] Faisal-nfl commented on #96
@dblock
thanks for response
I created a sample project on github
[rails6_backend](https://github.com/Faisal-nfl/rails6_backend)

its giving same error, have a look please.
(swagger stuff is in the last commit)

[2019-12-03 21:56] Faisal-nfl commented on #96
@dblock can you clarify that why its giving assets issue ?

[2019-12-04 10:51] Faisal-nfl commented on #96
For another project faced very same issue even after adding those lines in `menifest.js`
after trying different stuff for hours it started to work by addling these lines at top of  `app/assets/config/manifest.js`, its looks like this now

[code]

[2019-12-04 10:51] #96 closed

[2019-12-04 11:13] dblock commented on #96
Looking at https://github.com/Faisal-nfl/rails6_backend/blob/master/app/assets/config/manifest.js it's pretty custom and doesn't include dependencies with `require_tree .`. I think your solution is a good one. I'd appreciate a better explanation for the README in the https://github.com/ruby-grape/grape-swagger-rails#enabling-in-a-rails-api-project section. Want to contribute?

[2019-12-04 11:51] Faisal-nfl commented on #96
sure, I would love to.
though I never contributed to such project.
what I have to do
1- fork
2- clone
3- make changes
4- generate pull request

or anything else?

[2019-12-04 12:40] Faisal-nfl commented on #96
@dblock
I tried to explain it and generated pull request.
have a look if ok? [pull request](https://github.com/ruby-grape/grape-swagger-rails/pull/97)

[2020-02-06 12:23] siva-wal opened #99 "Throwring JS error in Rails6"
<img width="1130" alt="Screen Shot 2020-02-06 at 5 47 51 PM" src="https://user-images.githubusercontent.com/25295780/73936765-8732ad00-4909-11ea-8091-7d021bcbe335.png">

[2020-04-26 10:47] echan00 opened #100 "Issue with do blocks"
I'd like to add header parameters to the endpoint below:
[code]

I see in the documentation this is how you do it with one line:
[code]

Since I have other information in the endpoint, how do I do this in a **do** block? I've been looking at this all day but can't figure out the correct syntax.

[2020-04-26 10:49] #100 closed

[2020-04-26 15:21] dblock commented on #100
Did you figure it out @echan00? For the next person.

[2020-04-27 05:08] echan00 commented on #100
I didn't figure out how to implement the **do** block syntax, but the one liner version that will do the same thing is below:

[code]

[2020-05-06 19:50] lsanc104 opened #101 "parameter is invalid when trying to pass Array in swagger"
I was trying to do something like this, but I keep getting Error: items is invalid. Any help is welcome

requires :items, type: Array do
   requires :description, type: String, documentation: { desc: 'street', in: 'body' }
   requires :quantity, type: String, documentation: { desc: 'street', in: 'body' }
   requires :value, type: String, documentation: { desc: 'street', in: 'body' }
   requires :w

[2020-05-06 21:12] dblock commented on #101
It would help if you could please post the request you're making. I'll close this. Please use [the Grape mailing list](https://groups.google.com/forum/#!forum/ruby-grape) for questions.

[2020-09-10 09:36] ActualAl opened #102 "Rails 5 app - using grape-swagger-rails with webpacker rather than sprockets"
Im working a on a rails 5 project that no longer uses sprockets for it's asset/js compilation.

The project now uses webpacker. Has anyone managed to get the grape-swagger-ui to work with webpacker compiled assets?

[2020-12-09 22:15] jwigal commented on #27
We wanted to keep most of what was there, so we forked the original repo and just added an option for pulling in our own stylesheet.

https://github.com/assignr/grape-swagger-rails

[2020-12-10 00:09] dblock commented on #27
Why don't you PR this upstream @jwigal ?

[2020-12-10 12:47] jwigal commented on #27
Sure thing! See #103

[2021-12-10 09:22] Zlatov commented on #66
Adding the `tags: ...` option worked for me. Described in the [documentation#tags-](https://github.com/ruby-grape/grape-swagger/#tags-).

The tag name must match the namespace.

[code]

It's a little awkward that we can't set a `desc` before namespace/resources, `desc` probably has its own sugar and therefore only applies to get/post...

[2022-11-03 05:38] aniketstiwari opened #104 "Specify different paths or folders for swagger"
How to specify different paths or folders for swagger options.url. Right now swagger looks inside a single directory

[code]

What I am looking for If I have multiple directories how can I specify them? When I do like the below I get an error **Can't read swagger JSON from **

[code]